body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100%;
}
header {
    background-color: #264653;
    color: #fff;
    padding: 20px 0;
    /* max-width: 1200px; */
    margin: auto;
    /* text-align: center; */
}

main {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    /* padding: 20px 200px; */
}

#img-1 {
    width: 326px;
    height: 96px;
    margin-left: auto;

}
h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    color: #000000;
    margin-top: 20px;
}
.container {
    /* max-width: 1040px; */
    max-width: 100%;
    height: 12%;/* 230px; */
    border-radius:  12px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    
}

#section-left{
    width: 36%;/* 326px; */
    /* height: 100%; 230px; */
}

#img-2 {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 12px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
}


#section-right {
    width: 64%;   /* 714px; */
    /* height:  230px; */
    padding: 20px;
}

#section-left-2{
    width: 32%;
}

#section-right-2 {
    width: 68%; /* 810px; */
    /* height: 230px; */
    padding: 20px;
}

#img-3 {
    
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 12px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.container-2 {
    max-width: 190px;
    height: 21px;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    margin-top: 50px; 
    /* font-family: Roboto; */
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
}

#sec-1 {
    border-radius: 12px;
    border: 1.5px solid #F7C1A0;
    padding: 3px;
    
}

#sec-2 {
    border-radius: 12px;
    border: 1.5px solid #F7C1A0;
    padding: 3px;
}

#sec-3 {
    border-radius: 12px;
    border: 1.5px solid #F7C1A0;
    padding: 3px;
}

.line{
    /* width: 1040px; */
    height: 2px;      
    background: rgba(47, 37, 87, 0.40);
    margin-top: 185px;
}
.container_after_line{
    /* max-width: 1040px; */
    height: 170px;
    display: flex;
    margin-top: 15px;
}
#section_logo{
    padding: 0;
    width: 23%;/* 280px; */
    text-align: left;
}
.button{
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
    color: white;
    width: 36px;
    height: 36px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover{
    background-color: #d9d9d9;
}
#section_contact{
    padding: 0;
    width: 24%;/* 285px */;
    text-align: left;

}
#management{
    padding: 0;
    width: 53%; /* 475px; */
    text-align: left;
}
.p_special{
    color: #000;
    /* font-family: Roboto; */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-block-end: 0px;
}
.p_underline{
    color: #3B82F6;
    /* font-family: Roboto; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-block-end: 0px;
}

.role{
    margin-block-start: 0px;
}

.column {
    float: left;
    width: 40%;
    margin-left: 3px;
    
  }

.column-picture {
    float: left;
    width: 40px;
    /* height: 36px; */
    /* padding: 0;*/
    justify-content: space-between;
    
  }

.people {
    /* float: left; */
    border-radius: 6px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.10);
    background-color: #d9d9d9;
    width: 25px;
    height: 25px;
    padding: 4px;
    text-align: center;
    flex-wrap: wrap;
    /* text-decoration: none; */
    /* display: grid; */
    
    margin: 18px 0;

}
.row {
    width: 440px;
}
  
  /* Clear floats after the columns */
  .row:after{
    content: "";
    display: table;
    clear: both;
  }
footer {
    /* clear: both; */
    background-color: #264653;
    color: #FFF;
    text-align: center;
    /* width: 1440px; */
    height: 60px;
    padding: 22px 0;
    /* font-family: Montserrat; */
}
#p_footer {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}